body {
	background-color: yellow;
	font-family : Verdana;
	

}

img {
	width: 250px;
	height: 250px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

h1{
	background-color: yellow;
	font-size: 48px;
	font-family: Lucida Handwriting;
	text-align: center;
	box-shadow:
    		0 0 60px 30px yellow ,
    		0 0 100px 60px green, 
    		0 0 140px 90px red ;
}

h1:hover {
	background-color:#D13F1F;
	
}

h2 {
	text-align:center;
	font-size: 32px;
	
}

h2:hover {
	background-color:#D13F1F;
}

h3 {
	text-align: center;
	font-size: 24px;
}

h3:hover {
	background-color:#D13F1F;
}



p {
	background-color: #D13F1F;
	font-size:18px;
	font-family: Verdana;
	text-align: center;
}

img:hover{
	border: 6px dashed #ddd;
	border-radius: 12px;
	padding : 2px;
	width : 250px;
	height: 250px;
}

p:hover {
	background-color: yellow;
	font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}

li {
  float: center;
  display : inline-block;
  text-align: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}